.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .welkom {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .image-wrapper {
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .image-wrapper img {
    width: 500px; /* Adjust the width as needed */
    max-height: 500px; /* Adjust the maximum height as needed */
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .image-wrapper img:hover {
    transform: scale(1.05);
  }
  